main .card {
    background-color: #3475;
}

.mb-4 {
    font-family: Times New Roman;
    font-weight: bold;
    color: white;
}

.login_hr {
    border-bottom: solid white 1px;
}

.form-group label {
    color: white;
}

.btn_login {
    height: 2.5em !important;
    background: #780206;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right,
            #061161,
            #780206);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right,
            #061161,
            #780206);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.login_input {
    background-color: #3475 !important;
    color: white !important;
}
