.dashboard {
    width: 65em;
    height: 60em;
    overflow: scroll;
}

.display_row {
    display: flex;
    padding-top: 1em;
}

.display_p {
    border: 1px solid grey;
    width: 25em;
    height: 15em;
    margin-left: 4em;
}

.order_title {
    text-align: center;
    color: black;
    font-family: "Oswald", sans-serif;
}

.p_hr {
    border: 0.5px solid grey;
}

.display_p_1 {
    border: 1px solid grey;
    width: 25em;
    height: 15em;
    margin-left: 7em;
}

.display_p_1 h5 {
    text-align: center;
}

.display_p_1 h6 {
    padding-left: 1.5em;
    font-size: 1.5em;
}

.display_p_1 span {
    padding-left: 2em;
    color: grey;
}

.display_p h5 {
    text-align: center;
}

.display_p h6 {
    padding-left: 2em;
}

.display_p p {
    padding-left: 2em;
    color: grey;
}

#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-top: 5em;
}

#customers td,
#customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even) {
    background-color: #f2f2f2;
}

#customers tr:hover {
    background-color: #ddd;
}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

@media only screen and (max-width: 400px) {
    .dashboard {
        width: 20em;
        height: 30em;
        overflow: scroll;
    }

    .display_row {
        display: block;
        padding-top: 1em;
    }

    .display_p {
        border: 1px solid grey;
        width: 15em;
        height: 15em;
    }

    .display_p_1 {
        border: 1px solid grey;
        width: 15em;
        height: 15em;
        margin-top: 2em;
    }
}